body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.post-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.profile-section {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}

.post-image {
    width: 100%;
    height: auto;
}

.interaction-icons {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
}

.icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-section a {
    display: flex; 
    align-items: center; 
    text-decoration: none;
    color: inherit;
}

.post-description{
    padding: 10px;
}

.collapsible-tags-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #eee;
}

.tags-button {
    background-color: transparent;
    border: none;
    color: #4f0484;
    cursor: pointer;
}

.tags-button:focus {
    outline: none;
}

#tags_container {
    width: 100%;
}

.tags-collapse {
    display: flex;
    flex-wrap: wrap;
}

.tags-collapse.show {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.tag-pill {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #4f0484;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

