
body{
    overflow-x: hidden;
}
#signup_button{
    width: 200px;
    border-radius: 30px;
    background-color: #fccf00;
    border: 1px solid #4f0484;
    color: #4f0484;
}
#login_button{
    width: 200px;
    border-radius: 30px;
    background-color: #4f0484;
    border: 1px solid #fccf00;
    color: #fccf00;
}
form {
    padding: 2%;
}

