
h1{
    margin: 0;
}

body {
    position: relative;
    padding-top: 50px;
}

button {
    background-color: #fccf00;
}

#top_banner {
    box-sizing: border-box;
    background-color: #4f0484;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
}

#bottom_banner {
    box-sizing: border-box;
    background-color: #4f0484;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-align: center;
    padding: 10px; 
}

#description {
    width: 100%;
    height: 100px;
}

#imageSelection {
    width: 100%;
    margin-bottom: 10px;
}

form label {
    display: none;
}

