.tags.select {
    background-color: #4f0484;
    border: none;
}

.tags_button {
    margin-top: 10px;
}

.tags {
    background-color: #fccf00;
    border: none;
}

.centered {
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
}